:root {
   --RWB-beg-width: 426.837px;
}

/* set banner width */
.gamepadhome_RecentSection_39tNv .basicgamecarousel_Featured_2eJEJ {
	width: var(--RWB-end-width) !important;
}

/* set banner glow */
.gamepadhome_RecentSection_39tNv .basicgamecarousel_Featured_2eJEJ .basicgamecarousel_CarouselCapsuleBackgroundGlow_1H3Kf {
	transform: translateY(-280%) translateX(56px) scaleX(22) scaleY(7);
}

/* move banner to right */
.gamepadhome_RecentSection_39tNv .ReactVirtualized__Grid__innerScrollContainer > div:first-child {
	transform: translateX( calc(var(--RWB-beg-width) - var(--RWB-end-width)) );
}

/* set banner image height to the banner's */
.gamepadhome_RecentSection_39tNv .appportrait_PortraitImage_2IYf7.appportrait_Landscape_3VOR2 {
	height: 100%;
}

/* fit image to banner */
.gamepadhome_RecentSection_39tNv .appportrait_FeaturedCapsule_xp7A- img {
   object-fit: var(--RWB-image-fit) !important;
}

/* shift carousel to left */
.gamepadhome_RecentSection_39tNv .ReactVirtualized__Grid__innerScrollContainer {
	transform: translateX( calc( (var(--RWB-end-width) - var(--RWB-beg-width)) * var(--RWB-shift-multiplier) ) );
}

/* fix caurousel overscrolling */
.gamepadhome_RecentSection_39tNv .basicgamecarousel_CarouselGameLabelWrapper_ZkD6W {
	max-width: 500%;
}
